<?xml version='1.0' encoding='utf-8'?>

<widget
    id="com.student.profile"
    version="1.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>

    <name>StudentProfile</name>

    <description>
        Activity 6 Student Profile with Cordova Camera Integration
    </description>

    <author>
        Andrei Jullian Nacaya
    </author>

    <content src="index.html" />

    <!-- Allow application navigation -->
    <access origin="*" />

    <!-- Allow normal web intents -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Allow local file access used by device features -->
    <allow-intent href="file:///*" />

    <!-- Android -->
    <platform name="android">

        <preference
            name="AndroidInsecureFileModeEnabled"
            value="true"
        />

    </platform>

</widget>